* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.appTitle {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
}

ol {
  display: flex;
  flex-direction: column; 
  align-items: center;   
  list-style-position: inside;
  font-size: 20px;
  line-height: 1.8;
  margin: 0 auto;

}